body{
    padding: 0 20%;
    margin: auto;
    position: relative;
    background-image: /Users/JoshFaison/Homework1/Assets/images/hotel-wallpaper.png;
}

.dflex{
    display: flex;

}


.nav{
    background-color: black;
}